body {
    font-family: Arial;
    background: #0d1117;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background: #161b22;
    margin-bottom: 10px;
}

.search {
    padding: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #30363d;
    padding: 10px;
    text-align: left;
}

button {
    padding: 6px 10px;
    background: #238636;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.save-btn {
    margin: 20px;
    padding: 15px;
    width: calc(100% - 40px);
    background: #2ea043;
    font-size: 18px;
}
